---
slug: /configuration
title: Configuration
---

## Environment variables

You can configure the database at runtime using various environment variables:

- `{{ envprefix }}__HOST` -
  host to listen for connections on
  (default: `0.0.0.0`)
- `{{ envprefix }}__PORTS__SQL` -
  port to listen for SQL connections on
  (default: `{{ sqlport }}`)
- `{{ envprefix }}__PORTS__HTTP` -
  port to listen for HTTP connections on
  (default: `{{ httpport }}`)
- `{{ envprefix }}__PORTS__RPC` -
  port to listen for RPC connections on
  (default: `{{ rpcport }}`)
- `{{ envprefix }}__CREDENTIALS__ROOT__PASSWORD` -
  password for the root user
  (default: `password`)
- `{{ envprefix }}__CREDENTIALS__USER__PASSWORD` -
  password for the main user
  (default: `password`)
