services:
  {{ databasename }}:
    build:
      context: ./
      network: host
    environment:
      - "{{ envprefix }}__HOST=${ {{- envprefix }}__HOST:-0.0.0.0}"
      - "{{ envprefix }}__PORTS__SQL=${ {{- envprefix }}__PORTS__SQL:-{{ sqlport -}} }"
      - "{{ envprefix }}__PORTS__HTTP=${ {{- envprefix }}__PORTS__HTTP:-{{ httpport -}} }"
      - "{{ envprefix }}__PORTS__RPC=${ {{- envprefix }}__PORTS__RPC:-{{ rpcport -}} }"
      - "{{ envprefix }}__CREDENTIALS__ROOT__PASSWORD=${ {{- envprefix }}__CREDENTIALS__ROOT__PASSWORD:-password}"
      - "{{ envprefix }}__CREDENTIALS__USER__PASSWORD=${ {{- envprefix }}__CREDENTIALS__USER__PASSWORD:-password}"
    network_mode: host
    volumes:
      - data:/database/data/

volumes:
  data: {}
